.container {
  height: 100vh;
  background-image: linear-gradient(to right, #ffffff, #cffcf1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 45px;
}
.image-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.running-timer {
  background-color: #ffffff;
  width: 140px;
  height: 140px;
  border-radius: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px;
}
.timer {
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
  color: #00d9f5;
}
.timer-text {
  margin: 0px;
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 500;
}
.buttons-container {
  background-color: transparent;
}

.icons {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.icon-text {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 600;
}
.button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.buttons-arrange {
  display: flex;
}
.items-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.increase-decrease {
  display: flex;
  align-items: center;
  justify-content: center;
}
.increase-decrease-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.minus-button {
  margin-right: 15px;
  background-color: transparent;
  border: none;
  font-size: 35px;
}

.plus-button {
  margin-left: 15px;
  background-color: transparent;
  border: none;
  font-size: 25px;
}
.initial-container {
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
  border-radius: 8px;
  background-position: center;
  align-items: center;
}
.initial-time {
  font-size: 22px;
  font-weight: 500;
}
